  <div>
    <h2>Featured Bike!</h2>
<div>

<section>
  <div class="container-fluid post-box">
    <div class="row">
      <div class="col-md-4">
        <img src="{{randomBike.photo}}" class="img-responsive img-thumbnail" alt="bicycle image">
      </div>
      <div class="col-md-5">
        <h1 class="block">{{randomBike.title}}</h1>
          <p>{{randomBike.description}}</p>
      </div>
      <div class="col-md-3">
        <div class="label_input_pair">
          <h1 >{{randomBike.price | currency:"USD":2 }}</h1>
          <h3>{{randomBike.location}}</h3>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="login-reg">

    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <h3>Login</h3>
          <form (submit)="loginUser()">
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input
                id="email"
                name="email"
                type="text"
                class="form-control"
                placeholder="Email"
                #email="ngModel"
                [(ngModel)]="ninja.email"
                >
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input
                type="password"
                name="password"
                class="form-control"
                id="inputPassword"
                placeholder="Password"
                #password="ngModel"
                [(ngModel)]="ninja.password"
                >
              </div>
            </div>
            <input class="btn btn-secondary" type="submit" value="Login">
          </form>

        </div>

        <div class="col-md-6">
          <h3>Register</h3>
          <form id="register-form" #regForm="ngForm" (submit)="createUser(); regForm.reset()">
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                  <input
                  class="form-control"
                  id="inputFirstName"
                  type="text"
                  name="firstName"
                  #firstName="ngModel"
                  [(ngModel)]="newUser.firstName"
                  placeholder="First Name"
                  required
                  minlength='2'>
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                    <div *ngIf="firstName.errors.required">
                      First Name is required.
                    </div>
                    <div *ngIf="firstName.errors.minlength">
                      First Name must be at least 2 characters long.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputLastName" class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                  <input
                  class="form-control"
                  id="inputLastName"
                  type="text"
                  name="lastName"
                  #lastName="ngModel"
                  [(ngModel)]="newUser.lastName"
                  placeholder="Last Name"
                  required
                  minlength='2'>
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                    <div *ngIf="lastName.errors.required">
                      Last Name is required.
                    </div>
                    <div *ngIf="lastName.errors.minlength">
                      Last Name must be at least 2 characters long.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input
                  class="form-control"
                  id="inputEmail"
                  type="email"
                  name="email"
                  #email="ngModel"
                  [(ngModel)]="newUser.email"
                  placeholder="Email"
                  required>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Email is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input
                  class="form-control"
                  id="inputPassword"
                  type="password"
                  name="password"
                  #password="ngModel"
                  [(ngModel)]="newUser.password"
                  required
                  minlength='8'
                  placeholder="Password must be at least 8 characters"
                  />
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                      Password is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                      Password must be at least 8 characters long.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputConfirmPassword" class="col-sm-3 col-form-label">Password Confirmation</label>
                <div class="col-sm-9">
                  <input
                  class="form-control"
                  id="inputConfirmPassword"
                  type="password"
                  name="password_confirmation"
                  #password_confirmation="ngModel"
                  [(ngModel)]="newUser.password_confirmation"
                  placeholder="Password Confirmation"
                  required
                  />
                  <div *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched)" class="alert alert-danger">
                    <div *ngIf="password_confirmation.errors.required">
                      Password Confirmation is required.
                    </div>
                  </div>
                </div>
              </div>
              <input type="submit" class="btn btn-secondary" value="Register" [disabled]="!regForm.valid">
          </form>
          <div>
            <p *ngFor="let error of errors">{{ error }}</p>
          </div>
        </div>
      </div>
    </div>

</section>
