footer {
  margin-top: 10px;
  text-align: center;
  font-size: .7em;
  line-height: 0;
}

@media (max-width: 600px) {.footer-wide{display: none;}}
@media (min-width: 601px) {.footer-narrow{display: none;}}
