button {
  margin-left: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.post-box {
  border: 3px solid #224;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

#update-listings {
  background-color: #111;
  padding: 20px;
  border: 3px solid #99a;
}

#update-listings > h1 {
  color: white;
}

#create-listing {
  background-color: #447;
  padding: 20px;
  border: 3px solid #224;
  margin-bottom: 15px;
}

#add-update-submit {
  margin-top: 7px;
}

.photo-button {
  border-radius: 5px;
  border: none;
  padding: 6px 20px;
  margin-top: 5px;
  background-color: #449;
  color: white;
}

 .update-button {
  padding: 6px 20px;
  border-radius: 5px;
  border: none;
  margin-left: 15px;
  background-color: rgb(48,165,74);
  color: white;
  transition: background-color .5s;
}

.update-button:hover {
  background-color: #181;
}

#delete-button {
  margin-right: 25%;
  margin-bottom: 10px;
  padding: 6px 20px;
  border-radius: 5px;
  border: none;
  float: left;
  background-color: rgb(218,56,73);
  color: white;
  transition: background-color .5s;
}

#delete-button:hover {
  background-color: #b11;
}
